<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key># Created by Hackintosh Italia</key>
	<string>www.hackintoshitalia.it</string>
	<key># Server Discord</key>
	<string>https://discord.gg/RtgmDJaHAs</string>
	<key># Richiesta EFI - Supporto</key>
	<string>https://discord.gg/qjqgswZYe3</string>
	<key>Mappatura Porte</key>
	<dict>
		<key>Front Panel - Internal USB</key>
		<dict>
			<key>Controller 1</key>
			<dict>
				<key>1</key>
				<dict>
					<key>2.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>3.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
				</dict>
				<key>2</key>
				<dict>
					<key>2.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>3.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
				</dict>
				<key>Dispositivi</key>
				<dict>
					<key>E.S.: Controller LED</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>E.S.: Controller AIO</key>
					<string>Numero 8 Cifre Esadecimali</string>
				</dict>
			</dict>
			<key>Controller 2</key>
			<dict>
				<key>1</key>
				<dict>
					<key>2.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>3.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
				</dict>
				<key>2</key>
				<dict>
					<key>2.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>3.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
				</dict>
				<key>Dispositivi</key>
				<dict>
					<key>E.S.: Controller LED</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>E.S.: Controller AIO</key>
					<string>Numero 8 Cifre Esadecimali</string>
				</dict>
			</dict>
		</dict>
		<key>Back Panel</key>
		<dict>
			<key>Controller 1</key>
			<dict>
				<key>1</key>
				<dict>
					<key>2.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>3.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
				</dict>
				<key>2</key>
				<dict>
					<key>2.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>3.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
				</dict>
				<key>3 (USB-C NO SWITCH)</key>
				<dict>
					<key>2.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>3.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>3.0 Flip</key>
					<string>Numero 8 Cifre Esadecimali</string>
				</dict>
				<key>4 (USB-C SWITCH)</key>
				<dict>
					<key>2.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>3.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
				</dict>
			</dict>
			<key>Controller 2</key>
			<dict>
				<key>1</key>
				<dict>
					<key>2.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>3.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
				</dict>
				<key>2</key>
				<dict>
					<key>2.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>3.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
				</dict>
				<key>3 (USB-C NO SWITCH)</key>
				<dict>
					<key>2.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>3.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>3.0 Flip</key>
					<string>Numero 8 Cifre Esadecimali</string>
				</dict>
				<key>4 (USB-C SWITCH)</key>
				<dict>
					<key>2.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
					<key>3.0</key>
					<string>Numero 8 Cifre Esadecimali</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
